@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--background: #f3f3f3;
	--foreground: #0f0f0f;
}

// :root {
// 	--background: #ffffff;
// 	--foreground: #171717;
// }
// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--background: #0a0a0a;
// 		--foreground: #ededed;
// 	}
// }

html,
body {
	height: 100%;
	width: 100%;
}

body {
	color: var(--foreground);
	background: var(--background);

	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;

	box-sizing: border-box;

	padding-bottom: 5rem;
}

@layer components {
	.column {
		@apply flex flex-col items-center justify-center;
	}
}
