@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes:
		caramellatte --default,
		forest --prefers-dark;
}

@utility column {
	@apply flex flex-col items-center justify-center;
}

@utility hero-image {
	@apply rounded-box mt-16 mb-1 bg-stone-100;
}

@layer utilities {
	:root {
		--background: #f3f3f3;
		--foreground: #0f0f0f;
	}
}
