@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--background: #f3f3f3;
	--foreground: #0f0f0f;
}

// :root {
// 	--background: #ffffff;
// 	--foreground: #171717;
// }
// @media (prefers-color-scheme: dark) {
// 	:root {
// 		--background: #0a0a0a;
// 		--foreground: #ededed;
// 	}
// }

@layer components {
	.column {
		@apply flex flex-col items-center justify-center;
	}
}
