@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes:
		valentine --default,
		forest --prefersdark;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-background: #f3f3f3;
	--color-foreground: #0f0f0f;

	--transition-property-button:
		color, background-color, border-color, text-decoration-color, fill, stroke, transform;
}

@utility column {
	@apply flex flex-col items-center justify-center;
}

@utility hero-image {
	@apply rounded-box mt-16 mb-1 bg-stone-100;
}
