@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;

	box-sizing: border-box;

	background-color: #f3f3f3;
	color: #0f0f0f;
}

@layer components {
	.column {
		@apply flex flex-col items-center justify-center;
	}
}
